<div class="category-slide inactive">
  <div class="slide-top">
    <h3><i class="fas fa-align-left"></i> Categories</h3><span><i class="fa fa-xmark"></i></span>
  </div>
  <div class="category-menu">
    <ul>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/cooking-26e6.jpg">Cooking</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/baking-essentialas-5988.jpg">Baking
            Needs</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/bread-bakery-2cfa.jpg">Bread &amp;
            Bakery</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/beverage-8724.jpg">Beverages</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/snacks-5d07.jpg">Snacks</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/frozen-items-2650.jpg">Frozen</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/chocolate-candy-1830.jpg">Candy
            &amp;
            Chocolates</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/diabetic-goods-9325.jpg">Diabetic
            Good</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/dairy-d35e.jpg">Dairy</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/fish-19cf.jpg">Fish</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/meat-3662.jpg">Meat</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/baby-care-d1f9.jpg">Baby
            Care</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/fruits-9105.jpg">Fruits</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/vegetables-66e6.jpg">Vegetables</span><i
            class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/personal-care-36ea.jpg">Personal
            Care</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/household-cleaning-624c.jpg">Household
            &amp;
            Cleaning</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/office-stationery-d9ec.jpg">Office
            &amp;
            Stationery</span><i class="fa fa-angle-down"></i></a><!----></li>
      <li><a><span><img alt="" src="https://api.redgrocer.com/api/upload/images/pet-care-182c.jpg">Pet Care</span><i
            class="fa fa-angle-down"></i></a><!----></li><!---->
    </ul>
  </div>
  <div class="slide-bottom">
    <p>All Rights Reserved by <a href="#">Red Grocer.</a></p>
  </div>
</div>
