<div class="product-menu">
    <div class="container">
        <ul>
            <li><a href="/"><span><i class="fa fa-home"></i></span> Home <i class="fa fa-angle-right"></i></a></li>
            <li><a>Frozen <i class="fa fa-angle-right"></i></a></li>
            <li><a>Igloo strawberry Ice cream 1Ltr </a></li>
        </ul>
    </div>
</div>

<!-- <div class="product-scroll-area product-scroll-area-active">
    <div class="container">
        <div class="product-scroll-main">
            <div class="scroll-product">
                <div class="scroll-product-img"><img checkimagedefault="" alt=""
                        src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                </div>
                <div class="scroll-product-info">
                    <h3>Igloo strawberry Ice cream 1Ltr</h3>
                    <h4>৳ 270</h4>
                    <h5>1 ltr</h5>
                </div>
            </div>
            <div class="scroll-product-right">
                <ul>
                    <li class="ng-star-inserted"><button class="cart product-button"><i
                                class="fa-solid fa-basket-shopping"></i>Add to cart</button></li>
                    <li><button class="buy"><i class="fa-solid fa-basket-shopping"></i>Buy Now </button></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<main class="product-area">
    <div class="section1">
        <div class="container">
            <div class="section1-main carousel">
                <div class="section1-left">
                    <div class="section1-left-main">
                        <div class="product-img-area"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="share">
                                <ul>
                                    <li><span><i class="fa fa-share-alt"></i></span>
                                        <div class="social-icon">
                                            <ul>
                                                <li><a><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a><i class="fab fa-twitter"></i></a></li>
                                                <li><a><i class="fab fa-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><span><i class="fa fa-heart"></i></span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="product-slide">
                            <swiper
                                class="mySwiper swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                                <div class="swiper-wrapper">
                                    <div data-swiper-slide-index="0"
                                        class="swiper-slide swiper-slide-duplicate ng-star-inserted swiper-slide-active swiper-slide-duplicate-next"
                                        style="width: 104px; margin-right: 13px;">
                                        <div class="slide-img ng-star-inserted"><img alt=""
                                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                                        </div>
                                    </div>
                                    <div data-swiper-slide-index="0"
                                        class="swiper-slide ng-star-inserted swiper-slide-duplicate-active swiper-slide-next swiper-slide-duplicate-prev"
                                        style="width: 104px; margin-right: 13px;">
                                        <div class="slide-img ng-star-inserted"><img alt=""
                                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                                        </div>
                                    </div>
                                    <div data-swiper-slide-index="0"
                                        class="swiper-slide swiper-slide-duplicate ng-star-inserted swiper-slide-prev swiper-slide-duplicate-next"
                                        style="width: 104px; margin-right: 13px;">
                                        <div class="slide-img ng-star-inserted"><img alt=""
                                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                                        </div>
                                    </div>
                                </div>
                            </swiper>
                        </div> -->
                    </div>
                </div>
                <div class="section1-right">
                    <div style="z-index: 9;">
                        <div class="zoom-viewer ng-star-inserted"
                            style="background-image: url(&quot;https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg&quot;); background-position: 84.0385% 109.45%; display: none; height: 100%; width: 100%;">
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="product-title"><a>Igloo strawberry Ice
                                cream 1Ltr</a>
                            <div class="product-sku">
                                <ul>
                                    <li><span>SKU: AMLISI1000</span></li>
                                </ul>
                            </div>
                            <div class="product-discription">
                                <p> <span class="read-more"></span></p>
                            </div>
                        </div>
                        <div class="product-details-main">
                            <div class="product-details-left">
                                <div class="product-tag">
                                    <ul>
                                        <li><span>Categories:</span></li>
                                        <li><button routerlink="/product-list" tabindex="0">Frozen</button></li>
                                    </ul>
                                </div>
                                <div class="product-tag">
                                    <ul>
                                        <li><span>Brand:</span></li>
                                        <li><button>Igloo</button></li>
                                    </ul>
                                </div>
                                <div class="product-tag ng-star-inserted">
                                    <ul>
                                        <li><span>Unit:</span></li>
                                        <li><button>1 ltr</button></li>
                                    </ul>
                                </div>
                                <div class="product-rate">
                                    <ul>
                                        <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
                                        <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
                                        <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
                                        <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
                                        <li class="ng-star-inserted"><i class="fa-regular fa-star"></i></li>
                                        <li><span>(0 Reviews)</span></li>
                                    </ul>
                                </div>
                                <div class="price-quantity">
                                    <div class="product-price ng-star-inserted">
                                        <h3>৳270</h3>
                                    </div>
                                </div>
                                <div class="product-btn">
                                    <div class="wish-btn">
                                        <ul>
                                            <li class="ng-star-inserted"><button class="cart product-button"><i
                                                        class="fa-solid fa-basket-shopping"></i>Add to cart</button>
                                            </li>
                                            <li><button class="buy"><i class="fa-solid fa-basket-shopping"></i>Buy Now
                                                </button></li>
                                            <li><button><i class="fa fa-heart"></i>Add to
                                                    wish</button></li>
                                            <li><button><i class="fa-solid fa-shuffle"></i> Compare
                                                    this </button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details-right">
                                <div class="product-share">
                                    <ul>
                                        <li><span>Share to</span></li>
                                        <li><a><i class="fab fa-facebook"></i></a></li>
                                        <li><a><i class="fab fa-twitter"></i></a></li>
                                        <li><a><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="refound-btn">
                                    <ul>
                                        <li><button
                                                style="background-color: rgb(205, 53, 59); border: 1px solid rgb(205, 53, 59);">
                                                Refundable </button></li>
                                        <li><button
                                                style="background-color: rgb(205, 53, 59); border: 1px solid rgb(205, 53, 59);">
                                                Return Available </button></li>
                                    </ul>
                                </div>
                                <div class="product-security">
                                    <h3>100% Satisfaction Gurantee</h3>
                                    <p>Place your order with Peace of mind</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="container">
            <div class="section2-main">
                <div class="product-details-bottom">
                    <div class="container">
                        <div class="product-details-bottom-main">
                            <div class="product-details-bottom-left">
                                <div class="product-review-menu">
                                    <ul>
                                        <li><button class="active-btn">Description </button></li>
                                        <li><button>Specifications
                                            </button></li>
                                        <li><button>Reviews (0) </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="description ng-star-inserted">
                                    <div class="description"></div>
                                </div>
                            </div>
                            <div class="product-details-bottom-right ng-star-inserted">
                                <div class="offer ng-star-inserted" tabindex="0"><img alt=""
                                        src="https://api.redgrocer.com/api/upload/images/whatsapp-image-2023-02-28-at-4-d5e2.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
