<div class="cart-slide-area">
  <div class="cart-slide-top">
    <h3><i class="fas fa-shopping-basket"></i> Total Item (00)
    </h3>
    <h4 class="ng-star-inserted"
      style="background: linear-gradient(to right, rgb(201, 33, 39) 0%, rgb(86, 87, 101) 0%);">Shop TK. 499 to
      Enjoy Free Delivery <i class="fa fa-bike"></i></h4><!----><!----><span><i class="fa fa-xmark"></i></span>
  </div>
  <div class="cart-slide-main">
    <div class="cart-item-area"><!----></div>
    <div class="related-item-area">
      <div class="related-item-title">
        <h4>Suggested Items to add next</h4>
        <p>Save time by adding items related to your current order.</p>
      </div>
      <div class="related-item-main"><!----></div>
    </div>
  </div>
  <div class="cart-slide-bottom"><a>
      <p>Proceed To Cart</p><span>৳0</span>
    </a></div>
</div>
