<div class="slide-slide inactive">
  <div class="slide-top">
    <h3><i class="fas fa-align-left"></i> Menus</h3><span><i class="fa fa-xmark"></i></span>
  </div>
  <div class="slide-menu">
    <ul>
      <li><a routerlink="./" href="/"><span><i class="fa fa-home"></i>Home</span></a></li>
      <li><a routerlink="../combo-package" href="/combo-package"><span><i class="fa-solid fa-truck-fast"></i>Combo
            Package</span></a></li>
      <li><a routerlink="../offers" href="/offers"><span><i class="fa-solid fa-gift"></i>Offers</span></a></li>
      <li><a routerlink="../special-package" href="/special-package"><span><i
              class="fa-sharp fa-solid fa-hand-holding-heart"></i>Special Package</span></a></li>
      <li><a routerlink="../coupon" href="/coupon"><span><i class="fa-solid fa-percent"></i>Coupon</span></a>
      </li>
      <li><a routerlink="../outlet" href="/outlet"><span><i class="fa-solid fa-cube"></i>Visit Our
            Outlets</span></a></li>
      <li><a><span routerlink="../bazar-list" tabindex="0"><i class="fa fa-list"></i>Add Your Bazar List</span></a>
      </li>
    </ul>
  </div>
  <div class="slide-bottom">
    <p>All Rights Reserved by <a href="#">Red Grocer..</a></p>
  </div>
</div>
