<div class="section section-products">
    <div class="container">
        <div class="section-main">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-mango-icecream-1l-ca29.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="product" id="643684079cac216746fc5271">
                        <div class="product-image"><img checkimagedefault="" alt=""
                                src="https://api.redgrocer.com/api/upload/images/igloo-strawberry-icecream-1l-9b3b.jpg">
                            <div class="icons">
                                <ul>
                                    <li><a><i class="fa-solid fa-shuffle"></i></a></li>
                                    <li><a><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="tag"></div>
                            <div><span class="wish"><i class="fa fa-heart"></i></span></div>
                        </div>
                        <div class="product-body">
                            <div class="rating-area">
                                <ul>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>

                                    <li><span>(0)</span></li>
                                </ul>
                            </div>
                            <div class="select-box">
                                <p> No Variation Found </p>
                            </div><a [routerLink]="['/product-details']" class="product_name">Igloo strawberry Ice cream 1Ltr</a>
                            <div class="product-price"><span class="currPrice">৳270 /<small>1 ltr</small></span>
                            </div>

                            <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
                                </button></div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>