<div class="product">
    <div class="product-image"><img checkimagedefault="" alt=""
            src="https://api.redgrocer.com/api/upload/images/bigen-speedy-hair-color-80gm-ac33.jpg"><!----><!---->
        <div class="icons">
            <ul>
                <li><a><i class="fa-solid fa-shuffle"></i></a></li><!---->
                <li><a><i class="fa fa-eye"></i></a></li>
            </ul>
        </div>
        <div class="tag"><span>Feature</span><!----><!----></div>
        <div><span class="wish"><i class="fa fa-heart"></i></span></div>
    </div>
    <div class="product-body"><a>Bigen Speedy Hair Color 80gm</a>
        <div class="rating-area">
            <ul><!---->
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li><!---->
                <li><span>(0 Reviews)</span></li>
            </ul>
        </div><!---->
        <div class="select-box">
            <p> No Variation Found </p>
        </div><!---->
        <div class="product-price"><!----><span class="currPrice">
                ৳610/<small>80 gm</small></span></div><!----><!---->
        <div class="product-desc">
            <p></p>
        </div>
        <div><button class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add </button><!----><!---->
        </div><!----><!---->
    </div>
</div>