<div class="login-signup-area">
    <div class="container">
        <div class="login-signup-area-main">
            <div class="login-signup-left">
                <div class="your-journey">
                    <div class="your-journey-top">
                        <h3>Start Your Journey With Us</h3>
                        <p>Red Grocer is a premium fastest online e-commerce for varrious types
                            &amp; events across the country with best deals &amp; discount. </p>
                    </div>
                    <div class="share-social">
                        <h3>Share In</h3>
                        <ul>
                            <li><a><i class="fab fa-facebook-f"></i></a></li>
                            <li><a><i class="fab fa-twitter"></i></a></li>
                            <li><a><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login-signup-right">
                <div class="login-signup-menu">
                    <ul>
                        <li><a href="/registration" class="active">Sign
                                Up</a></li>
                        <li>/</li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="login-signup-main">
                    <div class="form">
                        <div class="login-signup-title">
                            <h3>We will need...</h3>
                        </div>
                        <form novalidate="" autocomplete="off" class="ng-untouched ng-pristine ng-invalid">
                            <div class="form-input"><input formcontrolname="name" type="text" placeholder="Your Name"
                                    autocomplete="off" class="ng-untouched ng-pristine ng-invalid"></div>
                            <div class="form-input"><input digitonly="" formcontrolname="phoneNo" type="text"
                                    placeholder="Your phone number" autocomplete="off"
                                    class="ng-untouched ng-pristine ng-invalid" maxlength="11"></div>
                            <!-- <mat-form-field appearance="outline"
                                class="mat-form-field ng-tns-c42-0 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">
                                <div class="mat-form-field-wrapper ng-tns-c42-0">
                                    <div class="mat-form-field-flex ng-tns-c42-0">
                                        <div class="mat-form-field-outline ng-tns-c42-0 ng-star-inserted">
                                            <div class="mat-form-field-outline-start ng-tns-c42-0"
                                                style="width: 5.5px;"></div>
                                            <div class="mat-form-field-outline-gap ng-tns-c42-0" style="width: 65.5px;">
                                            </div>
                                            <div class="mat-form-field-outline-end ng-tns-c42-0"></div>
                                        </div>
                                        <div
                                            class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c42-0 ng-star-inserted">
                                            <div class="mat-form-field-outline-start ng-tns-c42-0"
                                                style="width: 5.5px;"></div>
                                            <div class="mat-form-field-outline-gap ng-tns-c42-0" style="width: 65.5px;">
                                            </div>
                                            <div class="mat-form-field-outline-end ng-tns-c42-0"></div>
                                        </div>
                                        <div class="mat-form-field-infix ng-tns-c42-0"><mat-select role="combobox"
                                                aria-autocomplete="none" aria-haspopup="true" formcontrolname="city"
                                                class="mat-select ng-tns-c80-1 ng-tns-c42-0 mat-select-required mat-select-empty ng-untouched ng-pristine ng-invalid ng-star-inserted"
                                                aria-labelledby="mat-form-field-label-1 mat-select-value-1"
                                                id="mat-select-0" tabindex="0" aria-expanded="false"
                                                aria-required="true" aria-disabled="false" aria-invalid="false">
                                                <div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c80-1">
                                                    <div class="mat-select-value ng-tns-c80-1" id="mat-select-value-1">
                                                        <span
                                                            class="mat-select-placeholder mat-select-min-line ng-tns-c80-1 ng-star-inserted"></span>
                                                    </div>
                                                    <div class="mat-select-arrow-wrapper ng-tns-c80-1">
                                                        <div class="mat-select-arrow ng-tns-c80-1"></div>
                                                    </div>
                                                </div>
                                            </mat-select><span class="mat-form-field-label-wrapper ng-tns-c42-0"><label
                                                    class="mat-form-field-label ng-tns-c42-0 mat-empty mat-form-field-empty ng-star-inserted"
                                                    id="mat-form-field-label-1" for="mat-select-0"
                                                    aria-owns="mat-select-0"><mat-label
                                                        class="ng-tns-c42-0 ng-star-inserted">City
                                                        Name</mat-label><span aria-hidden="true"
                                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c42-0 ng-star-inserted">
                                                        *</span></label></span></div>
                                    </div>
                                    <div class="mat-form-field-subscript-wrapper ng-tns-c42-0">
                                        <div class="mat-form-field-hint-wrapper ng-tns-c42-0 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                            style="opacity: 1; transform: translateY(0%);">
                                            <div class="mat-form-field-hint-spacer ng-tns-c42-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-form-field appearance="outline"
                                class="mat-form-field ng-tns-c42-2 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">
                                <div class="mat-form-field-wrapper ng-tns-c42-2">
                                    <div class="mat-form-field-flex ng-tns-c42-2">
                                        <div class="mat-form-field-outline ng-tns-c42-2 ng-star-inserted">
                                            <div class="mat-form-field-outline-start ng-tns-c42-2"
                                                style="width: 5.5px;"></div>
                                            <div class="mat-form-field-outline-gap ng-tns-c42-2" style="width: 77.5px;">
                                            </div>
                                            <div class="mat-form-field-outline-end ng-tns-c42-2"></div>
                                        </div>
                                        <div
                                            class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c42-2 ng-star-inserted">
                                            <div class="mat-form-field-outline-start ng-tns-c42-2"
                                                style="width: 5.5px;"></div>
                                            <div class="mat-form-field-outline-gap ng-tns-c42-2" style="width: 77.5px;">
                                            </div>
                                            <div class="mat-form-field-outline-end ng-tns-c42-2"></div>
                                        </div>
                                        <div class="mat-form-field-infix ng-tns-c42-2"><mat-select role="combobox"
                                                aria-autocomplete="none" aria-haspopup="true" formcontrolname="area"
                                                class="mat-select ng-tns-c80-3 ng-tns-c42-2 mat-select-required mat-select-empty ng-untouched ng-pristine ng-invalid ng-star-inserted"
                                                aria-labelledby="mat-form-field-label-3 mat-select-value-3"
                                                id="mat-select-2" tabindex="0" aria-expanded="false"
                                                aria-required="true" aria-disabled="false" aria-invalid="false">
                                                <div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c80-3">
                                                    <div class="mat-select-value ng-tns-c80-3" id="mat-select-value-3">
                                                        <span
                                                            class="mat-select-placeholder mat-select-min-line ng-tns-c80-3 ng-star-inserted"></span>
                                                    </div>
                                                    <div class="mat-select-arrow-wrapper ng-tns-c80-3">
                                                        <div class="mat-select-arrow ng-tns-c80-3"></div>
                                                    </div>
                                                </div>
                                            </mat-select><span class="mat-form-field-label-wrapper ng-tns-c42-2"><label
                                                    class="mat-form-field-label ng-tns-c42-2 mat-empty mat-form-field-empty ng-star-inserted"
                                                    id="mat-form-field-label-3" for="mat-select-2"
                                                    aria-owns="mat-select-2"><mat-label
                                                        class="ng-tns-c42-2 ng-star-inserted">Choose
                                                        Area</mat-label><span aria-hidden="true"
                                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c42-2 ng-star-inserted">
                                                        *</span></label></span></div>
                                    </div>
                                    <div class="mat-form-field-subscript-wrapper ng-tns-c42-2">
                                        <div class="mat-form-field-hint-wrapper ng-tns-c42-2 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                            style="opacity: 1; transform: translateY(0%);">
                                            <div class="mat-form-field-hint-spacer ng-tns-c42-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </mat-form-field> -->
                            <div class="form-input"><input formcontrolname="password" type="password"
                                    placeholder="Enter Your Password" autocomplete="new-password"
                                    class="ng-untouched ng-pristine ng-invalid">
                            </div>
                            <div class="form-input"><input formcontrolname="confirmPassword" type="password"
                                    placeholder="Enter Repeat Password" autocomplete="new-password"
                                    class="ng-untouched ng-pristine ng-invalid"></div><button type="submit">Sign
                                up</button>
                        </form>
                    </div>
                    <div class="google-account">
                        <div class="login-signup-title">
                            <h3>Also can you...</h3>
                        </div>
                        <ul>
                            <li><a type="button">Login with facebook <i class="fab fa-facebook-f"></i></a></li>
                            <li><a type="button" class="login-with-google-btn">Login with Google <i
                                        class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>