/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #f5f6f7
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer
}

a,
button,
img {
  cursor: pointer
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0 !important
}

img {
  display: block;
  width: 100%
}

.clearfix:after {
  content: "";
  display: block;
  clear: both
}

.container {
  display: block;
  max-width: 1400px;
  width: 100%;
  margin: auto
}

@media (max-width: 1400px) {
  .container {
    max-width: 1180px
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 720px
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px
  }
}

.view-btn {
  display: block;
  margin-top: 50px
}

.view-btn a {
  background-color: #c92127;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 230px;
  width: 100%;
  margin: auto;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 13px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  gap: 5px;
  border-radius: 6px;
  border: 2px solid #c92127;
  transition: all .3s linear
}

.view-btn a i {
  font-size: 15px
}

.view-btn a:hover {
  background-color: #fff;
  color: #c92127
}

.title-area {
  display: block;
  margin-bottom: 33px;
  text-align: center
}

.title-area h1 {
  color: #c92127;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  display: block;
  line-height: 50px
}

@media (max-width: 768px) {
  .title-area h1 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 500
  }
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0
}

[dir=rtl] .cdk-visually-hidden {
  left: auto;
  right: 0
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

.cdk-overlay-container:empty {
  display: none
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .6
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop {
  transition: visibility 1ms linear, opacity 1ms linear;
  visibility: hidden;
  opacity: 1
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
  visibility: visible
}
