<div class="order-process-system">
    <div class="container">
        <div class="order-process-main">
            <div class="order-process-system-info complate-process"><span><i class="fa fa-shopping-cart"></i></span>
                <h3>My Cart</h3>
            </div>
            <div class="order-process-system-info active-process"><span><i class="fa fa-credit-card"></i></span>
                <h3>Checkout</h3>
            </div>
            <div class="order-process-system-info"><span><i class="fa fa-check-circle"></i></span>
                <h3>Confirmation</h3>
            </div>
        </div>
    </div>
</div>
<div class="order-process-system">
    <div class="shipping-area">
        <div class="container">
            <div class="shipping-main-area">
                <div class="shipping-top-area">
                    <div class="title">
                        <h3>Select Delivery Address</h3><button type="button">Add Address</button>
                    </div>
                </div>
                <div class="shipping-address-main"></div>
            </div>
        </div>
    </div>
    <div class="payment-area">
        <div class="container">
            <div class="payment-area-main">
                <div>
                    <div class="payment-left">
                        <div class="step2-title">
                            <h3>Select a Payment Option</h3>
                        </div>
                        <div class="online-payment">
                            <div class="method-info active ng-star-inserted"><img alt=""
                                    src="/assets/images/payments/cash-on-delivery.png"><span>Cash
                                    on Delivery</span></div>
                            <div class="method-info ng-star-inserted"><img alt=""
                                    src="/assets/images/payments/ssl-thumb.jpg"><span>SSL
                                    Commerz</span></div>
                            <div class="method-info ng-star-inserted"><img alt=""
                                    src="/assets/images/payments/bkash-icon.png"><span>Bkash</span></div>
                            <div class="method-info ng-star-inserted"><img alt=""
                                    src="/assets/images/payments/Nagad-New.png"><span>Nagad</span></div>
                        </div>
                        <div class="payment-check">
                            <!-- <mat-checkbox class="mat-checkbox mat-check mat-accent ng-untouched ng-pristine ng-valid"
                                id="mat-checkbox-1"><label class="mat-checkbox-layout" for="mat-checkbox-1-input"><span
                                        class="mat-checkbox-inner-container"><input type="checkbox"
                                            class="mat-checkbox-input cdk-visually-hidden" id="mat-checkbox-1-input"
                                            tabindex="0" aria-checked="false"><span matripple=""
                                            class="mat-ripple mat-checkbox-ripple mat-focus-indicator"><span
                                                class="mat-ripple-element mat-checkbox-persistent-ripple"></span></span><span
                                            class="mat-checkbox-frame"></span><span class="mat-checkbox-background"><svg
                                                version="1.1" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                                                class="mat-checkbox-checkmark">
                                                <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                    class="mat-checkbox-checkmark-path"></path>
                                            </svg><span class="mat-checkbox-mixedmark"></span></span></span><span
                                        class="mat-checkbox-label"><span style="display: none;">&nbsp;</span>I agree to
                                        the <a routerlink="/terms-and-conditions" href="/terms-and-conditions">Terms and
                                            conditions</a>, <a routerlink="/pages/return-&amp;-refund-policy"
                                            href="/pages/return-&amp;-refund-policy">Return Policy</a> &amp; <a
                                            routerlink="/privacy-policy" href="/privacy-policy">Privacy Policy</a>.
                                    </span></label>
                            </mat-checkbox> -->
                        </div>
                    </div>
                    <div class="cart-btn-area pc">
                        <div class="cart-btn-info">
                            <div class="cart-btn-left"><button routerlink="../cart" tabindex="0"><i
                                        class="fa fa-arrow-left"></i> Return to Cart</button></div>
                            <div class="cart-btn-right"><button type="button" class="completeOrder">Complete Order
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="payment-summary">
                    <div class="summary-title">
                        <h3>Summary</h3><span>01 Items</span>
                    </div>
                    <div class="product-total">
                        <div class="product-total-title"><span>Product</span><span>Total</span></div>
                        <div class="product-total-info-main">
                            <div class="product-total-info ng-star-inserted">
                                <div><span style="color: #119744;">Igloo
                                        vanilla Ice cream 1Ltr- / 1 ltr - (1)</span></div>
                                <div style="text-align: right;"><span style="color: #119744;">270 TK</span></div>
                            </div>
                            <div class="subtotal">
                                <div class="product-total-info"><span>Subtotal</span><span style="color: #e62e04;">270
                                        Tk</span></div>
                                <div class="product-total-info ng-star-inserted"><span>Delivery Charge (Outside
                                        Chattogram )</span><span>150TK</span></div>
                                <div class="product-total-info"><span>Grand Total</span><span>420
                                        TK</span></div>
                            </div>
                            <div class="preferred-date">
                                <h3>Select your preferable delivery time and date</h3>
                                <div class="preferred-date-fields">
                                    <!-- <mat-form-field appearance="outline"
                                        class="mat-form-field ng-tns-c42-5 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label ng-untouched ng-pristine ng-valid ng-star-inserted mat-form-field-should-float">
                                        <div class="mat-form-field-wrapper ng-tns-c42-5">
                                            <div class="mat-form-field-flex ng-tns-c42-5">
                                                <div class="mat-form-field-outline ng-tns-c42-5 ng-star-inserted">
                                                    <div class="mat-form-field-outline-start ng-tns-c42-5"
                                                        style="width: 5.5px;"></div>
                                                    <div class="mat-form-field-outline-gap ng-tns-c42-5"
                                                        style="width: 108.25px;"></div>
                                                    <div class="mat-form-field-outline-end ng-tns-c42-5"></div>
                                                </div>
                                                <div
                                                    class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c42-5 ng-star-inserted">
                                                    <div class="mat-form-field-outline-start ng-tns-c42-5"
                                                        style="width: 5.5px;"></div>
                                                    <div class="mat-form-field-outline-gap ng-tns-c42-5"
                                                        style="width: 108.25px;"></div>
                                                    <div class="mat-form-field-outline-end ng-tns-c42-5"></div>
                                                </div>
                                                <div class="mat-form-field-infix ng-tns-c42-5"><input readonly="true"
                                                        matinput=""
                                                        class="mat-input-element mat-form-field-autofill-control mat-datepicker-input ng-tns-c42-5 ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored"
                                                        id="mat-input-0" aria-invalid="false" aria-required="false"
                                                        aria-haspopup="dialog" min="2023-07-08"
                                                        data-mat-calendar="mat-datepicker-0"><mat-datepicker
                                                        class="ng-tns-c42-5"></mat-datepicker><span
                                                        class="mat-form-field-label-wrapper ng-tns-c42-5"><label
                                                            class="mat-form-field-label ng-tns-c42-5 ng-star-inserted"
                                                            id="mat-form-field-label-5" for="mat-input-0"
                                                            aria-owns="mat-input-0"><mat-label
                                                                class="ng-tns-c42-5 ng-star-inserted">Choose Delivery
                                                                date</mat-label></label></span>
                                                </div>
                                                <div class="mat-form-field-suffix ng-tns-c42-5 ng-star-inserted">
                                                    <mat-datepicker-toggle matsuffix=""
                                                        class="mat-datepicker-toggle ng-tns-c42-5"
                                                        data-mat-calendar="mat-datepicker-0"><button mat-icon-button=""
                                                            type="button"
                                                            class="mat-focus-indicator mat-icon-button mat-button-base"
                                                            aria-haspopup="dialog" aria-label="Open calendar"
                                                            tabindex="0"><span class="mat-button-wrapper"><svg
                                                                    viewBox="0 0 24 24" width="24px" height="24px"
                                                                    fill="currentColor" focusable="false"
                                                                    class="mat-datepicker-toggle-default-icon ng-star-inserted">
                                                                    <path
                                                                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                                                                    </path>
                                                                </svg></span><span matripple=""
                                                                class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                                                                class="mat-button-focus-overlay"></span></button></mat-datepicker-toggle>
                                                </div>
                                            </div>
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c42-5">
                                                <div class="mat-form-field-hint-wrapper ng-tns-c42-5 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <div class="mat-form-field-hint-spacer ng-tns-c42-5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field> -->
                                    <!-- <mat-form-field appearance="outline"
                                        class="mat-form-field ng-tns-c42-6 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label ng-untouched ng-pristine ng-star-inserted mat-form-field-should-float ng-valid">
                                        <div class="mat-form-field-wrapper ng-tns-c42-6">
                                            <div class="mat-form-field-flex ng-tns-c42-6">
                                                <div class="mat-form-field-outline ng-tns-c42-6 ng-star-inserted">
                                                    <div class="mat-form-field-outline-start ng-tns-c42-6"
                                                        style="width: 5.5px;"></div>
                                                    <div class="mat-form-field-outline-gap ng-tns-c42-6"
                                                        style="width: 112px;"></div>
                                                    <div class="mat-form-field-outline-end ng-tns-c42-6"></div>
                                                </div>
                                                <div
                                                    class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c42-6 ng-star-inserted">
                                                    <div class="mat-form-field-outline-start ng-tns-c42-6"
                                                        style="width: 5.5px;"></div>
                                                    <div class="mat-form-field-outline-gap ng-tns-c42-6"
                                                        style="width: 112px;"></div>
                                                    <div class="mat-form-field-outline-end ng-tns-c42-6"></div>
                                                </div>
                                                <div class="mat-form-field-infix ng-tns-c42-6"><mat-select
                                                        role="combobox" aria-autocomplete="none" aria-haspopup="true"
                                                        disableripple="" required=""
                                                        class="mat-select ng-tns-c80-7 ng-tns-c42-6 mat-select-required ng-untouched ng-pristine ng-star-inserted ng-valid"
                                                        aria-labelledby="mat-form-field-label-7 mat-select-value-5"
                                                        id="mat-select-4" tabindex="0" aria-expanded="false"
                                                        aria-required="true" aria-disabled="false" aria-invalid="false">
                                                        <div cdk-overlay-origin=""
                                                            class="mat-select-trigger ng-tns-c80-7">
                                                            <div class="mat-select-value ng-tns-c80-7"
                                                                id="mat-select-value-5"><span
                                                                    class="mat-select-value-text ng-tns-c80-7 ng-star-inserted"><span
                                                                        class="mat-select-min-line ng-tns-c80-7 ng-star-inserted">04.00
                                                                        pm to 05.30
                                                                        pm</span></span></div>
                                                            <div class="mat-select-arrow-wrapper ng-tns-c80-7">
                                                                <div class="mat-select-arrow ng-tns-c80-7"></div>
                                                            </div>
                                                        </div>
                                                    </mat-select><span
                                                        class="mat-form-field-label-wrapper ng-tns-c42-6"><label
                                                            class="mat-form-field-label ng-tns-c42-6 ng-star-inserted"
                                                            id="mat-form-field-label-7" for="mat-select-4"
                                                            aria-owns="mat-select-4"><mat-label
                                                                class="ng-tns-c42-6 ng-star-inserted">Select Delivery
                                                                Time</mat-label><span aria-hidden="true"
                                                                class="mat-placeholder-required mat-form-field-required-marker ng-tns-c42-6 ng-star-inserted">
                                                                *</span></label></span></div>
                                            </div>
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c42-6">
                                                <div class="mat-form-field-hint-wrapper ng-tns-c42-6 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <div class="mat-form-field-hint-spacer ng-tns-c42-6"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <div class="product-total-info" style="padding-bottom: 0px;">
                                <!-- <mat-form-field appearance="outline"
                                    class="mat-form-field example-full-width ng-tns-c42-8 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-valid ng-star-inserted">
                                    <div class="mat-form-field-wrapper ng-tns-c42-8">
                                        <div class="mat-form-field-flex ng-tns-c42-8">
                                            <div class="mat-form-field-outline ng-tns-c42-8 ng-star-inserted">
                                                <div class="mat-form-field-outline-start ng-tns-c42-8"
                                                    style="width: 5.5px;"></div>
                                                <div class="mat-form-field-outline-gap ng-tns-c42-8"
                                                    style="width: 99.25px;"></div>
                                                <div class="mat-form-field-outline-end ng-tns-c42-8"></div>
                                            </div>
                                            <div
                                                class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c42-8 ng-star-inserted">
                                                <div class="mat-form-field-outline-start ng-tns-c42-8"
                                                    style="width: 5.5px;"></div>
                                                <div class="mat-form-field-outline-gap ng-tns-c42-8"
                                                    style="width: 99.25px;"></div>
                                                <div class="mat-form-field-outline-end ng-tns-c42-8"></div>
                                            </div>
                                            <div class="mat-form-field-infix ng-tns-c42-8"><textarea matinput=""
                                                    cols="5" rows="4"
                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c42-8 ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored"
                                                    id="mat-input-1" data-placeholder="Write delivery instruction"
                                                    aria-invalid="false" aria-required="false"></textarea><span
                                                    class="mat-form-field-label-wrapper ng-tns-c42-8"><label
                                                        class="mat-form-field-label ng-tns-c42-8 mat-empty mat-form-field-empty ng-star-inserted"
                                                        id="mat-form-field-label-9" for="mat-input-1"
                                                        aria-owns="mat-input-1"><mat-label
                                                            class="ng-tns-c42-8 ng-star-inserted">Delivery
                                                            Instruction</mat-label></label></span>
                                            </div>
                                        </div>
                                        <div class="mat-form-field-subscript-wrapper ng-tns-c42-8">
                                            <div class="mat-form-field-hint-wrapper ng-tns-c42-8 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">
                                                <div class="mat-form-field-hint-spacer ng-tns-c42-8"></div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                    <div class="cuppon-area">
                        <div class="cupon-input"><input type="text" placeholder="Have coupon code ? Enter Here.."
                                class="ng-untouched ng-pristine ng-valid">
                        </div>
                        <div class="apply-btn ng-star-inserted"><button>Apply</button></div>
                    </div>
                </div>
                <div class="cart-btn-area mbl">
                    <div class="cart-btn-info">
                        <div class="cart-btn-left"><button routerlink="../cart" tabindex="0"><i
                                    class="fa fa-arrow-left"></i><span>Go Back</span></button>
                        </div>
                        <div class="cart-btn-right"><button class="completeOrder">Complete Order </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><button id="bKash_button" style="display: none;"> Make Bkash Payment
</button>